<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {webtitle: "Home" }) %>
</head>
<%- include('./partials/header') %>
<body>    
    <div class="home_container">
        <div class="title">
            <h1><center>PUBLICACIONES Y LIKES</center></h1>
        </div>

        <div class="admin_container">
            <a class="btn_primary" href="/users">Administrar Usuarios</a>

        </div>
    </div>
</body>
</html>